a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.forms input,
.forms select,
.forms textarea {
  width: 30vmax;
}
header {
  width: fit-content;
}
aside {
  width: 250px;
  background: skyblue;
  height: 85ch;
}
