.App {
  width: 100%;
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.forms input,
.forms select,
.forms textarea {
  width: 100%;
  max-width: 800px;
}
header {
  width: fit-content;
}

.logo {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.post {
  background: #ffffff;
  border: white !important;
  box-shadow: 0px 10px 1px #9bb1d68f, 0 10px 20px #6985c0;
  padding: 10px;
  margin: 10px;
  border-radius: 8%;
  max-width: 600px;
  width: 100%;
}
.post img {
  max-width: 600px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  border: solid #6985c0;
  margin-bottom: 20px;
}
#recipe-link {
  border-left: 6px solid rgb(44, 167, 130);
}
.image-upload > input {
  display: none;
}
.attach-doc {
  cursor: cell;
}

.allRecipes {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipeCard {
  background-color: white;
  max-width: 300px;
  margin: 20px;
  box-shadow: 0px 10px 1px #9bb1d6, 0 10px 20px #9bb1d6;
  border-radius: 6%;
  padding: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.MuiInputBase-root {
  background: white;
}
.forms {
  border-radius: 2%;
  padding: 1%;
}
.nav {
  background-image: repeating-linear-gradient(
    to bottom right,
    #6985c0,
    #366feb,
    #6985c0
  );
  text-shadow: 1px 1px 1px #366feb;
  color: #ffffff;
  display: flex;
  justify-content: stretch;
}
.nav button {
  color: white;
  text-shadow: 1px 1px 1px#000000;
}
.phone {
  width: 100%;
  background-image: linear-gradient(to top right, #6985c0, #366feb);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap !important;
  font-size: small;
}

@media (max-width: 850px) {
  .nav {
    display: none;
  }
}
@media (min-width: 850px) {
  .phone {
    display: none;
  }
}

.phone a,
.phone button {
  color: #ffffff;
  font-size: smaller;
  padding: 0;
  width: 15%;
  max-height: 55px;
}

.logo {
  height: auto;
  margin-top: 50px;
  max-height: 70px;
  max-width: 350px;
  width: 100%;
}
.logoHome {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 850px;
}
.backgroundCard {
  background-color: #f9feff;
}

.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 20px;
  border: 1px solid black;
}
.description {
  font-size: 20px;
  text-align: center;
  margin: 50px;
}
.recipeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipeHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.recipeInfos {
  display: flex;
  flex-direction: column;
}
.recipeDescription {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}
.recipeList {
  margin-top: 5px;
  margin-bottom: 0;
}
.video {
  margin-top: 30px;
}

.btnDetails {
  display: flex;
  justify-content: space-between;
}
.authThird {
  display: flex;
  justify-content: space-evenly;
}
.google {
  width: 100px;
}
.randomSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.signupElement {
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
}
.buttonProfile {
  margin-top: 30px;
}
.signUpContainer {
  margin-bottom: 15px;
}
.formlabels {
  background: #ffffff;
  border: white !important;
  padding: 10px;
  margin: 10px;
  max-width: 600px;
  width: 100%;
}
.formlabels button {
  background: #6985c0;
  color: white;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  border: #f6f6f6;
  justify-content: center;
}
.makeStyles-hide-51 {
  display: block;
}
.profilePicture {
  border-radius: 100%;
  border: solid #6985c0;
  margin: 10px;
  max-width: 100px;
}
#profileInfo {
  display: flex;
  align-items: center;
  max-height: 50px;
  margin: 30px;
}
#profileInfo b {
  margin-top: -10px;
}
.postpic {
  border-radius: 100%;
  border: solid #6985c0;
  margin: 0;
  width: 45px !important;
  display: inline-flex;
  align-items: center;
}
#avatar {
  display: inline-flex;
}
.picandname {
  border-radius: 100%;
  margin: 0;
  width: 45px !important;
  display: inline-flex;
  align-items: center;
}

.postinput {
  max-width: 500px !important;
  width: 100% !important;
}

.singup {
  max-height: 650px !important;
  width: auto;
}
