.App {
  width: 100%;
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.forms input,
.forms select,
.forms textarea {
  width: 100%;
  max-width: 800px;
}
header {
  width: fit-content;
}
aside {
  width: 250px;
  background: skyblue;
  height: 85ch;
}
.logo {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.post {
  background: #ffffff;
  border: white !important;
  box-shadow: 0px 10px 1px #9bb1d68f, 0 10px 20px #6985c0;
  padding: 10px;
  margin: 10px;
  border-radius: 8%;
  max-width: 600px;
  width: 100%;
}
.post img {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  border: solid #6985c0;
}
#recipe-link {
  border-left: 6px solid rgb(44, 167, 130);
}
.image-upload > input {
  display: none;
}
.attach-doc {
  cursor: cell;
}
.MuiOutlinedInput-input {
  width: 500px;
}
.allRecipes {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipeCard {
  background-color: white;
  max-width: 300px;
  margin: 20px;
  box-shadow: 0px 10px 1px #9bb1d6, 0 10px 20px #9bb1d6;
  border-radius: 6%;
  padding: 20px;
  width: 100%;
  margin-bottom: 50px;
}
.MuiInputBase-root {
  background: white;
}
.forms {
  border-radius: 2%;
  padding: 1%;
}
.nav header {
  background-image: linear-gradient(to bottom left, #366feb, #6985c0);
}
header a {
  color: #ffffff;
  text-shadow: 1px 1px 1px#000000;
}
.nav {
  display: flex;
}
@media (max-width: 800px) {
  .nav {
    visibility: hidden;
  }
  .phone {
    visibility: collapse;
  }
}

.logo {
  height: auto;
  margin-top: 50px;
  max-height: 70px;
  max-width: 350px;
  width: 100%;
}
.logoHome {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.backgroundCard  {
  background-color:#F9FEFF ;
}

.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 20px;
  border: 1px solid black
}
.description {
  font-size: 20px;
  text-align: center;
  margin: 50px;
}